body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  position:relative;
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #efecec;
  border: 1px solid #dedede;
  border-radius: 4px;
  overflow: auto;
  box-shadow: 0 0 30px #000000;
}

.custom-width {
    width: 80px !important;
}

.gray,.hover-gray:hover{color:#fff!important;background-color: #b9b9b9 !important}

.tab-container{padding:0.01em 16px}
.tab-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.tab-navbar li{float:left}.tab-navbar li a,.wnavitem{display:block;padding:8px 16px}.tab-navbar li a:hover{color:#000;background-color:#ccc}
.tab-navbar .dropdown-hover,.navbar .dropdown-click{position:static}
.tab-navbar a,.topnav a,.sidenav a,.dropdown-content a,.accordion-content a,.dropnav a{text-decoration:none!important}
.tab-navbar .opennav.right{float:right!important}.topnav{padding:8px 8px}